.container {
    display: flex;
    flex-direction: row;
}

.box {
    background: black;
    padding: 10px;
    display: inline-block;
    margin: auto;
    margin-top: 20px;
}

.light {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 5px;
}

.light-red {
    background-color: red;
}

.light-yellow {
    background-color: yellow;
}

.light-green {
    background-color: green;
}

.glow-red {
    box-shadow: 0px 0px 9px 4px red;
    animation: glow 0.8s linear infinite alternate;
}

.glow-yellow {
    box-shadow: 0px 0px 9px 4px yellow;
    animation: glow 0.8s linear infinite alternate;
}

.glow-green {
    box-shadow: 0px 0px 9px 4px green;
    animation: glow 0.8s linear infinite alternate;
}


@keyframes glow {
    to {
        box-shadow: 0px 0px 30px 20px yellowgreen;
    }
}

.light-purple {
    background-color: purple;
}

.glow-purple {
    box-shadow: 0px 0px 9px 4px purple;
    animation: glow 0.8s linear infinite alternate;
}

.btn {
    background-color: rgb(95, 234, 95);
    width: 25%;
    margin: auto;
    margin-top: 200px;
    border-radius: 4px;
    margin-left: 0;
    font-size: large;
}

.btn:hover {
    background-color: #3e8e41
}